In [6]:
%matplotlib inline
from IPython.core.display import HTML
from IPython.display import YouTubeVideo
from pandas_datareader import data, wb

import os
import pandas as pd
import numpy as np

path1 = os.path.join(os.getcwd(),'style-table.css')
path2 = os.path.join(os.getcwd(),'style-notebook.css')

css = open(path1).read() + open(path2).read()
HTML('<style>{}</style>'.format(css))

### lists

* Lists are best used with one type of data

In [35]:
mixed_element_list = [1,2,3,[4,5],'text']
mixed_element_list

[1, 2, 3, [4, 5], 'text']

In [1]:
nephews = ["Huey","Lewey","Dewey"]
nephews

['Huey', 'Lewey', 'Dewey']

In [2]:
nephews[0]

'Huey'

In [3]:
len(nephews)

3

In [4]:
for element in nephews:
    print(element)

Huey
Lewey
Dewey

In [33]:
for i in range(3):
    nephews[i] += ' Duck'

In [34]:
nephews

['Huey Duck', 'Lewey Duck', 'Dewey Duck']

In [5]:
nephews.append("April Duck")
nephews.append("April Duck")
nephews

['Huey', 'Lewey', 'Dewey', 'April Duck', 'April Duck']

In [6]:
nephews.remove("April Duck") # remove first occurence of April Duck

In [7]:
nephews

['Huey', 'Lewey', 'Dewey', 'April Duck']

In [9]:
nephews.extend(["May Duck","June Duck"])
nephews

['Huey',
 'Lewey',
 'Dewey',
 'April Duck',
 'May Duck',
 'June Duck',
 'May Duck',
 'June Duck']

In [41]:
ducks = nephews + ["Donald Duck",'Daisy Duck']

In [42]:
ducks

['Huey',
 'Lewey',
 'Dewey',
 'April Duck',
 'May Duck',
 'June Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [43]:
ducks.insert(0,"Scrooge McDuck")

In [44]:
ducks.remove('Donald Duck')

In [45]:
del ducks[0]

In [46]:
ducks

['Huey',
 'Lewey',
 'Dewey',
 'April Duck',
 'May Duck',
 'June Duck',
 'May Duck',
 'June Duck',
 'Daisy Duck']

In [47]:
squares = [0,1,4,9,16,25,36,49]

In [48]:
squares[0:2]

[0, 1]

In [49]:
squares[1:3]

[1, 4]

In [50]:
squares[1:]

[1, 4, 9, 16, 25, 36, 49]

In [52]:
squares[:]

[0, 1, 4, 9, 16, 25, 36, 49]

In [53]:
squares[-1]

49

In [55]:
squares[2:4] = ['four','nine']
squares

[0, 1, 'four', 'nine', 16, 25, 36, 49]

In [56]:
del squares[-2]

In [57]:
squares

[0, 1, 'four', 'nine', 16, 25, 49]

In [59]:
for i,j in enumerate(squares):
    print("Index",i,"is equal to",j)

Index 0 is equal to 0
Index 1 is equal to 1
Index 2 is equal to four
Index 3 is equal to nine
Index 4 is equal to 16
Index 5 is equal to 25
Index 6 is equal to 49

### list comprehensions

In [97]:
squares = [ i**2  for i in range(12) ]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [99]:
squares3 = [ i**2  for i in range(30)  if i%3==0 ]
squares3

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729]

### dictionaries

* most natural to use where data items have labels
* most appropriate for collecting data of different kinds

In [60]:
caps = {'US':'Washington','France':'Paris','Italy':'Rome'}

In [62]:
caps

{'France': 'Paris', 'Italy': 'Rome', 'US': 'Washington'}

In [61]:
caps['US']

'Washington'

In [63]:
caps['Spain'] = 'Madrid'

In [64]:
caps

{'France': 'Paris', 'Italy': 'Rome', 'Spain': 'Madrid', 'US': 'Washington'}

In [73]:
'France' in caps.keys()

True

In [74]:
'Paris' in caps.values()

True

In [75]:
caps2 = {'Germany':'Berlin'}
caps.update(caps2)

In [76]:
caps

{'France': 'Paris',
 'Germany': 'Berlin',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'US': 'Washington'}

In [77]:
del caps['US']

In [79]:
caps

{'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Rome', 'Spain': 'Madrid'}

In [82]:
for key in caps:
    print(key,'->',caps[key])

Germany -> Berlin
France -> Paris
Italy -> Rome
Spain -> Madrid

In [83]:
for key in caps.keys():
    print(key)

Germany
France
Italy
Spain

In [86]:
for value in caps.values():
    print(value)

Berlin
Paris
Rome
Madrid

In [87]:
for k,v in caps.items():
    print(k,"->",v)

Germany -> Berlin
France -> Paris
Italy -> Rome
Spain -> Madrid

### dictionary comprehensions

In [103]:
squares3_dict = {i:i**2  for i in range(30)  if i%3==0 }
squares3_dict

{0: 0,
 3: 9,
 6: 36,
 9: 81,
 12: 144,
 15: 225,
 18: 324,
 21: 441,
 24: 576,
 27: 729}

In [105]:
caps = {'US':'Washington','France':'Paris','Italy':'Rome'}

# invert keys with values

caps_inverted = { caps[key]:key  for key in caps.keys()}
caps_inverted

{'Paris': 'France', 'Rome': 'Italy', 'Washington': 'US'}

### generator expressions

In [106]:
sum(i**2 for i in range(15))

1015