### Read in data

In [1]:
%matplotlib inline
import pandas as pd
from IPython.core.display import HTML

csspath1 = r'C:\COURSERA\PYCON2015_TUTORIALS\Brandon Rhodes - Pandas From The Ground Up - PyCon 2015\style-table.css'
csspath2 = r'C:\COURSERA\PYCON2015_TUTORIALS\Brandon Rhodes - Pandas From The Ground Up - PyCon 2015\style-notebook.css'

css = open(csspath1).read() + open(csspath2).read()
HTML('<style>{}</style>'.format(css))

(Press H for a list of shortcuts)

Basic commands for dataframes and series:

len(df) 

df.head()          
df.tail()
df[df.c == value]             
df[(df.c >= value) & (df.d < value)]
df[(df.c < value) | (df.d != value)]
df.COLUMN           
df['COLUMN']
df[['col1','col2']]
df.sort_values('column')
df.sort_values(['column1','column2'])

series1 + series2
series.notnull()
series.isnull()
series.sort_values()
series + value

s.str.len()
s.str.conatins()
s.str.startswith()
s.value_counts()
s.sort_index()
s.plot()

df.set_index('a').sort_index()
df.set_index(['a','b']).sort_index()
df.groupby('column')                 .size() .mean() .min() .max()
df.groupby(['column1','column2'])    .agg(['min','max'])

df.loc['value']
df.loc[('v','u')]
df.unstack()
df.stack()

dataframe.date = pd.to_datetime(pd.Series(dataframe.date))   #turn strings to datetime type
sales2.insert(0, 'Store Number', 'Store 2')                  #insert column
pd.concat([sales1,sales2]).sort_values('Title')              #concatenate dataframes
sales2 = sales2.drop(sales2.index[[0,1,7,8,9,13,14,15,18]])  #drop rows

==== NOTE ====

99% of data problems solvable by:

sort()
head()
tail()
value_counts()
set_index() and sort_index()
stack()
unstack()

http://pandas.pydata.org/pandas-docs/stable/api.html

### Challenge: first combine these sales together into a single dataframe, then compute how much money consumers spent on each book in each currency.

In [2]:
path1 = r'C:\COURSERA\PYCON2015_TUTORIALS\Brandon Rhodes - Pandas From The Ground Up - PyCon 2015\data\sales1.csv'
path2 = r'C:\COURSERA\PYCON2015_TUTORIALS\Brandon Rhodes - Pandas From The Ground Up - PyCon 2015\data\sales2.csv'

sales1 = pd.DataFrame.from_csv(path1 , index_col=None)
sales2 = pd.DataFrame.from_csv(path2, index_col=None)

In [3]:
sales1['currency'] = 'USD'
sales1 = sales1.rename(columns={'Book title':'Title','Number sold':'Units sold','Sales price':'List price','Royalty paid':'Royalty'})
sales1['Consumer Spending'] = sales1['Units sold'] * sales1['List price']
sales1.head(2)

,Title,Units sold,List price,Royalty,currency,Consumer Spending
0,The Bricklayer’s Bible,8,2.99,0.55,USD,23.92
1,Swimrand,2,1.99,0.35,USD,3.98

In [4]:
def func(row):
    if 'USD' in row['Title']:
        return 'USD'
    elif 'GBP' in row['Title']:
        return 'GBP'
    elif 'EUR' in row['Title']:
        return 'EUR'
    else:
        return None

sales2 = sales2.dropna(how='all')
sales2 = sales2.fillna('')    
sales2['currency'] = sales2.apply(func, axis=1)
sales2['currency'] = sales2.currency.fillna(method='bfill')
sales2 = sales2.drop(sales2.index[[0,1,7,8,9,13,14,15,18]])
sales2['Consumer Spending'] = sales2['Units sold'] * sales2['List price']
sales2.head(2)

,Title,Units sold,List price,Royalty,currency,Consumer Spending
3,Pining for the Fisheries of Yore,80,3.5,14.98,USD,280
4,Swimrand,1,2.99,0.14,USD,2.99

In [5]:
sales = pd.concat([sales1,sales2]).sort_values('Title')
sales['Title'] = sales['Title'].str.title()
sales

,Title,Units sold,List price,Royalty,currency,Consumer Spending
2,Pining For The Fisheries Of Yore,28,2.99,0.55,USD,83.72
3,Pining For The Fisheries Of Yore,80,3.5,14.98,USD,280
13,Pining For The Fisheries Of Yore,47,2.99,11.98,GBP,140.53
1,Swimrand,2,1.99,0.35,USD,3.98
4,Swimrand,1,2.99,0.14,USD,2.99
21,Swimrand,8,1.99,0.88,EUR,15.92
5,The Bricklayer'S Bible,17,3.5,5.15,USD,59.5
14,The Bricklayer'S Bible,17,2.99,3.5,GBP,50.83
0,The Bricklayer’S Bible,8,2.99,0.55,USD,23.92
3,The Duck Goes Here,34,2.99,0.55,USD,101.66
6,The Duck Goes Here,34,2.99,5.78,USD,101.66
22,The Duck Goes Here,12,1.99,1.5,EUR,23.88
4,The Tower Commission Report,4,11.5,4.25,USD,46
7,The Tower Commission Report,4,9.5,6.2,USD,38
15,The Tower Commission Report,4,6.5,4.8,GBP,26

In [6]:
sales.groupby(['Title','currency'])[['Consumer Spending']].sum()

                                           Consumer Spending
Title                            currency
Pining For The Fisheries Of Yore GBP                  140.53
                                 USD                  363.72
Swimrand                         EUR                   15.92
                                 USD                    6.97
The Bricklayer'S Bible           GBP                   50.83
                                 USD                   59.50
The Bricklayer’S Bible           USD                   23.92
The Duck Goes Here               EUR                   23.88
                                 USD                  203.32
The Tower Commission Report      GBP                   26.00
                                 USD                   84.00